<div class="header">
  Type user List
</div>
<div class="container">
  <button (click)="goToAddUserType()" class="usetbtn">Add a type user</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>User Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userType of userTypes">
        <td>{{ userType.id }}</td>
        <td>{{ userType.type }}</td>
        <td>
          <button class="btn-edit" (click)="editUserType(userType.id)">Edit</button>
          <button class="btn-delete" (click)="deleteUserType(userType.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
