<div class="header">
  <h2>Add/Edit and user</h2>
</div>
<div class="formbody">
  <form (ngSubmit)="addUser()">
    <input type="text" placeholder="First Name" id="firstName" [(ngModel)]="user.firstName" name="firstName" required><br>
    <input type="text" placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName" name="lastName" required><br>
    <input type="text" placeholder="User Type" id="userType" [(ngModel)]="user.userType" name="userType" required><br>
    <button type="submit">Create</button>
  </form>
</div>


